<h2>All Heroines</h2>

<%= form_tag("/heroines", method: "get") do %>
  Power <%= text_field_tag (:power) %>
  <%= submit_tag 'Search' %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to "#{heroine.super_name}", heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
