<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroines_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to "View all Super Powers", powers_path(@powers) %>
<%= link_to "Create a new Heroine", new_heroine_path%>
