<h2>All Heroines</h2>

<%= link_to "All Powers", powers_path %>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <a href="<%= heroine_path(heroine) %>"><%= heroine.super_name %></a>
    </li>
    <br>
  <% end %>
</ul>
