<h1> <%= @heroine.name %></h1>

<p>Super Name: <%= @heroine.super_name %></p>
<p>Power: <%= link_to @heroine.power.name.capitalize, power_path(@heroine.power) %></p>
<br><br>
<%= link_to "Back to All Heroines", heroines_path %>
