<h1>This Heroine's Page</h1>

<p>Name: <%= @heroine.name %></p>
<p>Super Name:<%= @heroine.super_name %></p>
<p>Power: <%= link_to @heroine.power.name, power_path(@heroine.power) %></p>
<br><br>
<%= link_to "Back to All Heroines", heroines_path %>
